<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
<body>
  <div class="pic-wrapper">
  <figure class="pic-1"></figure>
  <figure class="pic-2"></figure>
  <figure class="pic-3"></figure>
  <figure class="pic-4"></figure>
</div>

<div class="title">
<h1>REMODL</h1>
</div>
<div class="hometext">
  <h1 class="hometext">Making remodeling easy<h1>
</div>
  </body>
</html>
