<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class = 'homepic'>
    <img class = 'logo' src="http://i946.photobucket.com/albums/ad303/pkellz6/souk1_zpsvscrkkw8.png">
  </body>
</html>
