<h1>About SOUQ</h1>

  <body class="aboutbg">
</body>
<div class="teamphoto">
  <img class="logo" src="http://i946.photobucket.com/albums/ad303/pkellz6/souk1_zpsvscrkkw8.png" alt="team" />
</div>

<div class="souq">
  <h3>We Are SOUQ</h3>
</div>
  <div class="statement">
  <p>Here at SOUQ we aim to provide users with an easy-to-use app for contractors to bid on personal renovations.</p>
</div>
