// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.aboutbg {
  background-image: url("");
  width: auto;
  max-width:100%;
  height:auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  z-index: -10000;
}
.souq {
  float: left;
  overflow: hidden;
  position: relative;
  left: 35%;
  margin-top: 30%;
}
.statement {
  float: left;
  overflow: hidden;
  position: relative;
  left: 35%;
  margin-top: 30%;
}
