/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*https://images.unsplash.com/photo-1431184052543-809fa8cc9bd6?fit=crop&fm=jpg&h=800&q=80&w=1050
https://images.unsplash.com/photo-1430126833726-4a091c572f3c?fit=crop&fm=jpg&h=750&q=80&w=1050
https://images.unsplash.com/photo-1422189668989-08f214d6e419?fit=crop&fm=jpg&h=1275&q=80&w=950
https://unsplash.imgix.net/reserve/NxxLccbqQdGtNc7xJ43e_ancestral-home.jpg?fit=crop&fm=jpg&h=550&q=75&w=950
https://images.unsplash.com/reserve/GOMY9CQSvmjKLxigsfxg_Attic.jpg?fit=crop&fm=jpg&h=625&q=80&w=950
https://ununsplash.imgix.net/photo-1417870839255-a23faa90c6b0?fit=crop&fm=jpg&h=650&q=75&w=950
https://unsplash.imgix.net/photo-1415226605610-f53c5c1ea8e9?fit=crop&fm=jpg&h=1275&q=75&w=950
https://images.unsplash.com/46/Ov6ZY1zLTWmhPC0wFysP_IMG_2896_edt.jpg?fit=crop&fm=jpg&h=650&q=80&w=950*/



 html {
   /*background: #333;*/
   background-image: url("bluebg.jpg");
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   font-family: "Nunito", sans-serif;
 }

 @import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #2c2c2c;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding-bottom: -8px;
  line-height: 1;
  display: block;
  zoom: 1;
  -webkit-box-shadow: #B3B3B3 0.8px 0.8px 0.8px 0.8px;
  -moz-box-shadow: #B3B3B3 0.8px 0.8px 0.8px 0.8px;
  box-shadow: #B3B3B3 0.8px 0.8px 0.8px 0.8px;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Mohave', sans-serif;
  text-transform: uppercase;

}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
.login{
  color: white;
  font-family: 'Nunito', sans-serif;
  position: relative;
  left: 450px;
  max-width: 100%;
  font-size: 15px;
}


.sign {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  left: 10px;
  top: 1px;
}

#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #2fa2ad;
  font-size: 14px;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}

a {
  color: blue green;
  font-family: "Nunito", sans-serif;
}

a:active {
  color: blue green;
  font-family: "Nunito", sans-serif;
}

a:visited {
  color: blue green;
  font-family: "Nunito", sans-serif;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #2fa2ad;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}

#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #2fa2ad;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

 div img {
    width:auto;
    max-width:100%;
    height:auto;
    margin-left: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.icon img {
max-width: 55px;
height: 55px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
}

.projectpic1 {
   width:auto;
   max-width:12%;
   height:auto;
   margin-left: 0 auto;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

img {
   width: 20% auto;
   max-width: 30%;
   max-height: 30% auto;
   height:auto;
   margin-left: 0 auto;
   margin-bottom: -28px;
}
.profilepic {
  width:auto;
  max-width:20%;
  height:auto;
  margin-left: 0 auto;
}


h1.projectstitle {
  text-align: center;
}
#header .holder {
    max-width: 1440px;
    margin: 0 auto;
    padding: 14px 32px 15px;
}
#header {
    width: 100%;
    background: #2c2c2c;
}

.signupp {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
  background-image: url("bluebg.jpg")

}


.loginbackground {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
  background-image: url("bluebg.jpg")

}
.activitypg {
  /*background-size: cover;
  background-repeat: no-repeat;
  background-image: url("bluebg.jpg");*/
  color: white;

}
.profshow1 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
  background-image: url("bluebg.jpg")

}


.profilename12 {
  float: right
}
.facebooklogin {
  margin-left: 27%;
  margin-bottom: 7%;
}

.facebookloginpage {
  margin-left: 26%;
  margin-bottom: 7%;
}
