/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body img {
  background-image: url("http://i946.photobucket.com/albums/ad303/pkellz6/souk1_zpsvscrkkw8.png");
  background-repeat: no-repeat;
  position: absolute;
  float: center;
  overflow: hidden;
  z-index: -1000;
  margin-left: 35%;
  margin-top: 10%;
}



 @import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: rgba( 60, 160, 250, 1);
  max-width: 100%;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
  -webkit-box-shadow: #B3B3B3 0.8px 0.8px 0.8px 0.8px;
  -moz-box-shadow: #B3B3B3 0.8px 0.8px 0.8px 0.8px;
  box-shadow: #B3B3B3 0.8px 0.8px 0.8px 0.8px;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;

}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
.login{
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: 450px;
  max-width: 100%;
  font-size: 15px;
}


.sign {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  left: 10px;
  top: 1px;
}

#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #ddc367;
  font-size: 15px;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: gold;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ddc367;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

 div img {
    width:auto;
    max-width:20%;
    height:auto;
    margin-left: 0 auto;
}

.profilepic {
  width:auto;
  max-width:20%;
  height:auto;
  margin-left: 0 auto;
}

html {
  background: rgb(250,254,255);
}
