// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hometext {
  color: rgb(255,255,255);
  font-size: 50px;
  max-width: 100%;
  height: auto;
  text-align: center;
  margin-top: 10%;
  text-shadow: 1px 1px 1px rgb(200,200,200)

}

.title {
  color: rgb(225,225,225);
  font-size: 17rem;
  max-width: 100%;
  height: auto;
  text-align: center;
  margin-top: 8%;
  text-shadow: 3px 2px 3px rgb(20,20,20);
  font-weight: bold;
  font-family: "Mohave", sans-serif;
}


 strong.login {
   left: 250px;
  //  left: 350px;
   float: right;

   overflow: hidden;
 }
strong.login:hover {
  color: #ddc367;
  // cursor: pointer;
}

// input {
//   float: right;
//   position: relative;
//   overflow: hidden;
//   right: 4%;
//   z-index: 10000;
// }

.signupmaster {
    margin-top: 2em;
    font-size: 16px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 8px;
    font-color: white;
    opacity: 1;
    float: right;
    overflow: hidden;
    position: relative;
    top: -92px;
    font-family: 'Nunito', sans-serif;
    left: 100px;
    max-width: 100%;
}

li .homeremodl {
  font-size: 17px;
}

.loginmaster {
  font-size: 16px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 8px;
  font-color: white;
  opacity: 1;
  float: right;
  overflow: hidden;
  position: relative;
  top: -72px;
  left: 270px;
  font-family: 'Nunito', sans-serif;
  max-width: 100%;
}

.login {
  position: relative;
  right: 20
}

// .logo {
//
//   background-repeat: no-repeat;
//   position: absolute;
//   float: center;
//   overflow: hidden;
//   z-index: -1000;
//   margin-left: 0 auto;
//   margin-top: 3%;
//   max-width: 100%;
//   height: auto;
//   width: auto;
//
// }

// .homepic {
//   background-size: cover;
//   background-repeat: no-repeat;
//   margin: 0;
//   padding: 0;
//   width:auto;
//   max-width:100%;
//   height:auto;
//   margin-left: 0 auto;
//
// }

* {
  margin: 0;
  padding: 0;
}

.pic-wrapper {
  width: 100%;
  height: 100%;
  overflow:hidden;
}



figure {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  /*animation*/

  float: left;
  overflow: hidden;
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
  z-index: -10000;
}

.pic-1 {
  opacity: 1;
  background-image: url("/assets/pic5.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;

}

.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background-image: url("/assets/pic3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background-image: url("/assets/pic4.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background-image: url("/assets/pic2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}
/* keyframes*/

@keyframes slideShow {
  0% {
    opacity: 0;
    transform:scale(1);
    -ms-transform:scale(1);
  }
  4% {
    opacity: 1
  }
  24% {
    opacity: 1;
  }
  28% {
    opacity: 0;
    transform:scale(1.1);
    -ms-transform:scale(1.1);
  }
  100% {
    opacity: 0;
    transform:scale(1);
    -ms-transformm:scale(1);
  }
 }

@-o-keyframes slideShow {
   0% {
    opacity: 0;
    -o-transform:scale(1);
  }
  4% {
    opacity: 1
  }
  24% {
    opacity: 1;
  }
  28% {
    opacity: 0;
    -o-transform:scale(1.1);
  }
  100% {
    opacity: 0;
    -o-transformm:scale(1);
  }
}

@-moz-keyframes slideShow {
   0% {
    opacity: 0;
    -moz-transform:scale(1);
  }
  4% {
    opacity: 1
  }
  24% {
    opacity: 1;
  }
  28% {
    opacity: 0;
    -moz-transform:scale(1.1);
  }
  100% {
    opacity: 0;
    -moz-transformm:scale(1);
  }
}

@-webkit-keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform:scale(1);
  }
  4% {
    opacity: 1
  }
  24% {
    opacity: 1;
  }
  28% {
    opacity: 0;
    -webkit-transform:scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transformm:scale(1);
  }
}
