

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Raleway:900);

$COLOR_MAIN: #ea0f6b;
$COLOR_SECONDARY: #e984ae;
$COLOR_GRAY: #808080;
$COLOR_WHITE: #ffffff;
$COLOR_BLACK: #000000;

html {
  background: url(http://i.imgur.com/kyIYGDZ.png);
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  /* position and height for footer */
  position: relative;
  min-height: 100%;
}

body {
  min-width: 322px;
  margin: 0 0 75px; /* bottom matches footer height */
}

a {
  text-decoration: none;
}

/*------------------------------
masthead styles
-------------------------------*/
.masthead {
  box-shadow: 2px 2px 3px darken($COLOR_MAIN,8%);
  background: $COLOR_WHITE;
  /*position and z-index set for box-shadow to appear over statusBar*/
  position: relative;
  z-index: 10;
}

.masthead-hd-logo {
  padding: 0 15px 30px 30px;
  font: 35px Raleway;
  font-weight: bold;
  text-transform: lowercase;
}

.masthead-hd-logo-link {
  text-decoration: none;
  color: $COLOR_BLACK;;
}

.masthead-hd {
  display: inline-block;
}

.masthead-bd {
  display: inline-block;
}

.masthead-hd-logo-link-icon {
  display: inline-block;
  height: 32px;
  width: 30px;
  background: url(http://i.imgur.com/YQddQYV.png) no-repeat -30px 0;
}

.masthead-hd-logo-link-icon_hand:hover {
  background-position: -150px 0;
}

/* displays hand icon hover state when hovering on branding */
.masthead:hover .masthead-hd-logo-link-icon_hand {
  background-position: -150px 0;
}

/*------------------------------
icon styles
-------------------------------*/
.icon {
  display: inline-block;
  height: 32px;
  width: 30px;
  background: url(http://i.imgur.com/YQddQYV.png) no-repeat;
}

.icon:hover { cursor: pointer; }

.icon_search { background-position: -60px 0; }
.icon_smile { background-position: -90px 0; }
.icon_wrench {
  width: 29px;
  background-position: 0 0;
}

.icon_search:hover { background-position: -180px 0; }
.icon_smile:hover { background-position: -210px 0; }
.icon_wrench:hover { background-position: -120px 0; }

/*------------------------------
hList styles
--------------------------------*/
.hList > * { display: inline-block; }

.hList > * + * { margin-left: 20px; }

.hList-item-link {
  text-decoration: none;
}

/*------------------------------
split styles
-------------------------------*/
.split {
  height: 100%;
  width: 100%;
  display: table;
}

.split > * {
  display: table-cell;
  vertical-align: middle;
}

.split-right {
  text-align: right;
}

/*------------------------------
statusBar styles
-------------------------------*/
.statusBar {
  padding: 3px 10px;
  background: #2fa2ad;
  color: $COLOR_WHITE;
  box-shadow: 0 0 3px $COLOR_GRAY;
  /*position and z-index for box-shadow*/
  position: relative;
  z-index: 2;
}

.projectim {
  max-width: 30%;
  float: right;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}

/*------------------------------
subNav styles
-------------------------------*/
.subNav {
  padding: 20px 10px;
  background: $COLOR_WHITE;
}

.subNav-list {
  text-align: center;
}

.subNav-list-item-link {
  color: $COLOR_GRAY;
  font-weight: bold;
}

.subNav-list > * { display: inline-block;}

.subNav-list > * + * { margin-left: 10px; }

.subNav-list-item-link:hover { color: $COLOR_SECONDARY; }
.subNav-list-item-link:focus { color: $COLOR_SECONDARY; }
.subNav-list-item-link:active{ color: $COLOR_SECONDARY; }
.subNav-list-item-link_active { color: $COLOR_MAIN; }

.subNav-list-item-link_active:hover { color: $COLOR_MAIN; }



/*------------------------------
box styles as a container item
-------------------------------*/
.box {
  padding: 10px;
  border: 2px solid lighten($COLOR_GRAY,35%);
  margin: 20px 10px;
  background: $COLOR_WHITE;
  /* position for box-shadow */
  position: relative;
}

.box_bowShadow:before,
.box_bowShadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 12px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: $COLOR_GRAY;
  box-shadow: 0 15px 5px $COLOR_GRAY;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.box_bowShadow:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*------------------------------
 totem styles
-------------------------------*/
.totem {
  padding: 0 5px;
  line-height: 1.2;
  text-align: center;
}

.totem > * { margin-bottom: 10px; }

.totem-hd {
  color: $COLOR_MAIN;
  font-weight: bold;
}

.totem-bd {
  color: $COLOR_BLACK;
  font-weight: bold;
}

.totem-ft {
  color: $COLOR_SECONDARY;
}

/*------------------------------
footer styles
--------------------------------*/
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px; /* matches body margin */
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  background: $COLOR_WHITE;
  z-index: -10000;
}

/*------------------------------
 media query for larger screens
--------------------------------*/
@media screen and (min-width: 600px) {
  .block {
    width: calc(50% - 5px);
    display: inline-block;
  }
}

@media screen and (min-width: 850px) {
  .block {
    width: calc(33% - 5px);
    display: inline-block;
  }
}

.projectpic {
  // margin-top: -3.5%;
  margin-bottom: 2%;
  width: 750px;
  max-width: 100%;
  height: auto;
  float: right;
  // margin-right: %;
}

.projectpic1 {
  margin-bottom: 1.5%;
  width: 600px;
  max-width: 100%;
  height: auto;
  float: right;
}

.projectpic:hover {
  width: 1050px;
  height: auto;
}


.flat{
  background:transparent;
  text-align: center;
  color:#37F;
  border:none;
  padding:10px 30px;
  border-radius:20px;
  box-shadow:0 0 0 1px #37F inset;
  outline:none;
  font-weight:normal;
  -webkit-transition:all 200ms ease-out;
}

.flat:hover{
  box-shadow:0 0 0 3px #37F inset;
  -webkit-transition:none;
}

.flat:active{
  // color:#EEE;
  background: #37F;
}


// .projectpic1:hover {
//   width: 1050px;
//   height: auto;
// }

// .projectnew {
//   margin-left: 40%;
// }
//
// .categories {
//   display: inline-block;
// }


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
