/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   width:auto;
   max-width:100%;
   height:auto;
   margin-left: 0 auto;
}
