/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
   /*background-image: url("http://pre07.deviantart.net/0bdd/th/pre/f/2007/185/5/7/wood_wallpaper_by_stenosis.jpg");*/
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   width:auto;
   max-width:100%;
   height:auto;
   margin-left: 0 auto;
}
