


<h1 class="activities">Activities</h1>
<% if current_user && current_user.profile %>
<% @activities.each do |activity| %>
  <div class="activity" style="margin-top: 10px;">
    <%= link_to activity.owner.try(:email), profile_path(activity.owner_id) %>
    <%= render_activity activity %>
  </div>
<% end %>
<% else %>
<span>Please sign up/sign in to view activity</span>
<% end %>

<%#= link_to activity.owner.try(:email), redirect_to action: "show", id: activity.owner_id %>
